
/**
 * @file
 * Sweaver CSS.
 */

/* correct the body */
body.sweaver {
  margin-bottom: 230px;
}

/* sweaver layer */

#sweaver {
  width: 100%;
  background-color: #333 !important;
  color: #fff !important;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "trebuchet MS", Helvetica, Arial !important;
  font-size: 12px !important;
  z-index: 1000;
  text-transform: none !important;
  background-image: none !important;
  line-height: 1.3em !important;
  text-align: left !important;
}

#sweaver a {
  color: #fff !important;
  text-decoration: none !important;
  background-color: none  !important;
  padding: 0 !important;
  margin: 0 !important;
  display: inline !important;
  font-family: "trebuchet MS", Helvetica, Arial !important;
  font-size: 12px !important;
}

/* tabs */

#sweaver #sweaver-tabs {
  margin-top: -26px;
}

#sweaver .close a,
#sweaver .tab a {
  background-color: #999 !important;
  font-weight: normal !important;
  height: 16px !important;
  display: block !important;
  float: left !important;
  padding: 5px 15px !important;
  font-size: 13px !important;
  line-height: 16px !important;
  margin-left: 7px !important;
  -moz-border-radius: 7px 7px 0 0 !important;
  border-radius: 7px 7px 0 0 !important;
  -webkit-border-radius: 7px 7px 0 0 !important;
  outline: none !important;
}

#sweaver .active-tab a {
  background-color: #333 !important;
}

/* header region */

#sweaver .sweaver-header {
   padding: 7px;
   clear: both;
   margin: 0 7px 0;
}

#sweaver #sweaver-header a.button {
  float: right;
}

#sweaver .sweaver-content {
  padding: 10px;
  margin: 0 7px 7px;
  background-color: #bcd62b;
  position: relative;
  min-height: 230px;
  height: 230px;
  overflow: scroll;
}

/* general theming */

#sweaver h2 {
  color: #222 !important;
  font-weight: normal !important;
  font-family: Georgia !important;
  font-size: 1.5em !important;
  text-transform: uppercase !important;
  padding: 0 0 15px 0 !important;
  margin: 0 !important;
  line-height: 1em !important;
}

#sweaver p,
#sweaver span {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent none !important;
  font-family: "trebuchet MS", Helvetica, Arial !important;
  font-size: 12px !important;
}

#sweaver label {
  width: 120px !important;
  float: left !important;
  clear: left !important;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: bold !important;
}

#sweaver input,
#sweaver select {
  width: 150px !important;
  border: 1px solid #fff !important;
  padding: 2px !important;
  color: #222 !important;
  background-image: none !important;
  background-color: #fff !important;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#sweaver select {
  width: 156px;
}

#sweaver a.button {
  width: 50px !important;
  border: 1px solid #fff !important;
  padding: 2px !important;
  color: #222 !important;
  background-image: none !important;
  background-color: #fff !important;
  display: block !important;
  font-weight: normal !important;
  text-align: center !important;
  font-size: 13px !important;
  text-decoration: none !important;
  text-transform: none !important;
  margin-left: 15px !important;
}

#sweaver a.button:hover {
  text-decoration: none !important;
}

#sweaver input.form-submit {
  clear: left;
  display: block;
  margin: 1em 0 0 0 !important;
}

/* containers */

#sweaver .container {
  float: left;
  padding: 0;
  margin: 0;
}

#sweaver .container-inner {
	margin-right: 25px;
}

#sweaver .container-1 {
  width: 100%;
}
#sweaver .container-2 {
  width: 50%;
}
#sweaver .container-3 {
  width: 33%;
}
#sweaver .container-4 {
  width: 25%;
}